@media (max-width: 6in) {
	@page {
      	size: portrait 6in 5.6in ;
      	margin-top: 80px;
      	margin-left: 0px;
      	margin-bottom: 18px;
      }
	
	p {
		/* page-break-before: always; */
		/* break-before: always; */
		page-break-after: always;
	}

	header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
		display: none;
	}
}
